---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: steve-nginx
  labels:
    app: steve-nginx
spec:
  replicas: 2
  selector:
    matchLabels:
      app: steve-nginx
  template:
    metadata:
      labels:
        app: steve-nginx
    spec:
      containers:
        - name: nginx
          image: steve-nginx:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 80
          resources:
            limits:
              memory: "128Mi"
              cpu: "100m"
            requests:
              memory: "64Mi"
              cpu: "50m"
---
apiVersion: v1
kind: Service
metadata:
  name: steve-nginx
  labels:
    app: steve-nginx
spec:
  type: NodePort
  selector:
    app: steve-nginx
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
      nodePort: 30080
